{{#pagination}}
<div class="pg-stats">
    <p>
    Displaying items <strong>{{firstIndexDisplay}} - {{lastIndexDisplay}}</strong>
    of <strong>{{itemCount}}</strong>
    </p>
</div>
{{/pagination}}
