<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    {{> default-head}}
</head>
<body>

<div id="doc">
    {{> header}}

    <div id="bd">
        {{{body}}}
    </div>

    {{> footer}}
</div>

</body>
</html>
