{{#if pagination}}
    {{#unless pagination.isFirstPage}}
        <h1 class="special">Older posts</h1>

        {{> pagination-stats}}
        {{> pagination}}
    {{/unless}}
{{/if}}

<section class="posts">
    {{#posts}}
        {{> post}}
    {{/posts}}
</section>

{{> pagination}}
